:host {
  .containerTable {
    background-color: #fff;
    padding: 2rem;
    width: 1000px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.212);
    margin: auto;
  }

  #deleteBtn,
  #editBtn {
    background: none;
    border: none;

    &:hover {
      transform: translateY(-3px);
      transition: 0.8s;
    }
  }
  table {
    width: 100%;
    flex-wrap: wrap;
    
  }

  .containerModal {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    padding: 1.3rem 3rem;
    padding-bottom: 2rem;
    border-radius: 7px;
    gap: 15px;

    .input {
      display: flex;
      flex-direction: column;
    }
  }
}
